@use '../abstracts/variables' as v;

.formation {
    background-color: v.$color-brown;
    color: v.$color-white;
    clip-path: polygon(50% 0%, 100% 5%, 100% 95%, 50% 100%, 0 95%, 0 5%);

    &__container {
        background-color: v.$color-brown-dark;
        clip-path: polygon(50% 0%, 100% 0, 100% 98%, 50% 100%, 0 98%, 0 0);
    }

    &__title {
        font-family: 'Felix';
        text-align: center;
        font-size: 4rem;
        padding-top: 15vh;
        padding-bottom: 15vh;
    }

    &__ul {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 2rem;
        padding: 0 8rem 8rem 8rem;
        margin-bottom: 0;
        list-style: square;

        &--li {
            max-width: 100%;
        }
    }
}