@use '../abstracts/variables' as v;

.welcome-section {
    transition: all 1s;
    &__pos {
        position: absolute;
        top: -15px;
        left: 10%;
        will-change: transform;
        animation: moving-top-bottom 1s infinite alternate ease ;
        animation-delay: 1.8s;
    }

    &__not-pos {
        visibility: hidden;
        padding-bottom: 5px;
    }

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        background-color: v.$color-brown;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    &__background-1 {
        position: absolute;
        top: 10%;
        left: 0;
        clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
        background-color: v.$color-brown-dark;
        width: 100%;
        height: 100%;
        z-index: -2;
    }
    
    &__background-2 {
        position: absolute;
        top: 10%;
        left: 0;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 87%);
        background-color: v.$color-brown-dark;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

    background-color: v.$color-brown;
    background-image: url('../../assets/scenery.jpg');
    background-size: cover;
    background-blend-mode:soft-light;
    background-position: bottom;
    height: auto;   
    max-width: 80%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 5px 10px 4px rgba(0, 0, 0, 0.36) !important;

    &:hover {
        box-shadow: 0 3px 10px 5px #592515d7, 0 3px 20px 12px #b34a2ad2 !important;
        animation: none;
    }


    &__container {
        position: relative;
        width: 100%;
        z-index: 8;
    }
    
    &__title {
        font-family: 'Felix';
        font-weight: 200;
        font-size: 4rem;
        color: v.$color-white;
        text-align: center;
        padding-top: 2rem;
        z-index: 8;
    }

    &__text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__text {
        font-family: 'DMSans';
        font-size: 1.7rem;
        font-weight: 200;
        width: 100%;
        max-width: 60%;
        color: v.$color-white;
        transform: translateX(-50%);
        margin-left: 50%;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    &__line {
        border-bottom: dotted v.$color-white 1px;
    }
    &__text-big {
        font-family: 'Felix';
        font-size: 2.5rem;
        font-weight: 500;
        text-align: center;
    }

}

