// Aysia colors
$color-brown: rgb(158, 87, 65);
$color-brown-dark: rgb(112, 46, 26);
$color-gray:  rgba(240,240,240,255);
$color-white-brown: rgb(250, 248, 245);
$color-light-green: rgb(196, 202, 184);
$color-pink: rgb(227, 200, 200);

































$color-red: #8a3700;
$color-light-red: rgb(234, 198, 150);
$color-dark-red: rgb(101, 69, 31);
$color-orange-red: rgb(118, 88, 39);

$color-blue: rgb(234, 198, 150);
$color-light-blue: rgb(239, 252, 223);
$color-purple-blue: rgb(240, 255, 221);
$color-strong-blue: rgb(118, 88, 39);

$color-black: #141414;
$color-white: #fff;

//wpp icon color
$color-green: rgb(0, 199, 83);

$card-bg-color: rgba(darken($color-white, 0%), .9);
